$main-background: #f5f5f5;

$main-white: #ffffff;
$main-black: #000000;

$header-border-color: #e0e0e0;
$header-logo-hover-background: #4361ee;

$post-accent-color: #4361ee;
$post-border-color: #dedede;
$post-edit-button-backgroound: rgba(255, 255, 255, 1);

$editor-toolbar-background: rgb(0 0 0 / 2%);

$auth-border-color: #dedede;
