@import "src/styles/variables";

.root {
	background-color: $main-white;
	padding: 10px 0;
	border-bottom: 1px solid $header-border-color;
	margin-bottom: 30px;
}

.inner {
	display: flex;
	justify-content: space-between;
	@media (max-width: 500px) {
		flex-direction: column;
	}
}

.logo {
	background-color: $main-black;
	color: $main-white;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	border-radius: 5px;
	padding: 0 10px;
	text-decoration: none;
	@media (max-width: 500px) {
		margin-bottom: 20px;
		text-align: center;
	}
	&:hover {
		background-color: $header-logo-hover-background;
	}
}

.buttons {
	button {
		margin-left: 10px;
	}

	a {
		text-decoration: none;
	}
	@media (max-width: 500px) {
		display: flex;
		justify-content: space-between;
		button {
			margin-left: 0;
		}
	}
}
