@import "src/styles/variables";

.title {
	input {
		font-size: 42px;
		font-weight: 900;
	}

	div {
		&:before,
		&:after {
			display: none;
		}
	}
}

.image {
	width: 100%;
	margin-top: 20px;
}

.tags {
	margin: 15px 0;
}

.editor {
	margin: 20px -20px;

	:global {
		.cm-s-easymde {
			border: 0;
			font-size: 22px;
		}
		.editor-toolbar {
			border: 0;
			background-color: $editor-toolbar-background;
		}
	}
}

.buttons {
	display: flex;

	button {
		margin-right: 15px;
	}
}

.topButtons {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	@media (max-width: 500px) {
		flex-direction: column;
		button {
			margin-left: 0;
		}
		button:first-child {
			margin-bottom: 15px;
		}
	}
}
